/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: rgb(27, 27, 27); }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.font-10 { font-size: 10px; }

.color-F5F5F5 { color: rgb(128, 128, 128); }